#preview, #editor {
  margin: 20px auto;
  width: 600px;
  max-width: 600px;
  padding: 6px 12px;
}

#preview {
  min-height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
}

#preview img {
  max-width: 100%;
}

#editor {
	display: block;
}